<ul id=navBar>
	<li><a id='home' class='navBarLeft' href='/homePage'>Home</a></li>
	<li><a id='editList' class='navBarLeft' href='/listsPage'>Edit Lists</a></li>
	<li><a class='navBarRight' href='/loginPage'>Logout</a></li>
</ul>