<ul id=navBar>
	<li><a id='home' class='navBarLeft' href='/homePage'>Home</a></li>
	<li><a id='about' class='navBarLeft' href='/about'>About</a></li>
	<li><a class='navBarRight' href='/logout'>Logout</a></li>
	<li><a id='account' class='navBarRight' href='/account'>Account Settings</a></li>
	<li><a id='maps' class='navBarRight' href='/maps'>Store Finder</a></li>
</ul>