<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8'>
		<title>About</title>
		<link href='about.css' rel='stylesheet' type='text/css'/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		{{> navbar}}

		<div class="outermain">
			<div class="innermain">

				<div title ="logo" id="logo">
            		<img src ="newlogo.png" alt ="logo" />
        		</div>

        		<div title ="tagline" id="tagline">
            		<p>Quick and easy sharable lists.</p>
        		</div>

        		<div id ="aboutpage">
		            <h1>About Us</h1>
		            <p>Quicklist provides quick and easy list-sharing, tailored towards lists for households where multiple people are responsible for shopping.
					It is perfect for roommates and busy families. To take full advantage of our site, each person needs a device (preferably mobile) with an internet 
					connection, and to create an account on our site. Then one person can create a list and share it with the others. Once the list is shared, each 
					person can add any items they notice are running out and those items will be visible to all other members, that way everyone will know what items 
					are needed. This way, if somebody is at the store, they can quickly and easily see what items the others need and choose whether or not to 
					purchase them. If they purchase it, they can press a button and the item will be removed from the list and everyone will see that they purchased it.
					If somebody puts something on the list that isn't usually shared by the household, or other people don't want to buy, they can also remove that item.</p>
        		</div>

			</div>
		</div>

	</body>

</html>