<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8'>
		<title>Home</title>
		<link href='home_style.css' rel='stylesheet' type='text/css'/>
	</head>

	<body>
		
		{{> navbar}}

		<div id='logo' class='text'>
			<div class='logoText'>
				<h1>Welcome {{username}}</h1>
			</div>
		</div>
		<div class="outermain">
			<div class="innermain">
				<div class='text'>
						<h3 style="text-align: center;"><b>Your Shopping Lists:</b></h3>
						<div id='createList'>
							<div id='lists'>
								<input id='chooseList' placeholder='Enter a list' />
								<button id='addList'></button>
								<button id='delList'></button>

								<script>
									var input = document.getElementById("chooseList");
									input.addEventListener("keyup", function(event) {
									  event.preventDefault();
									  if (event.keyCode === 13) {
									    document.getElementById("addList").click();
									  }
									});
								</script>
																
							</div>
							<script src='list_js.js'></script>
						</div>
				</div>

				<div>
					<ul class = "indent">
					{{#each lists as |list|}}
						<form action='/groceryListPage' method='get'>
							<div><input class='item' type='submit' value='{{list.name}}' name='test'></div>
						</form>
					{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>