<!DOCTYPE html>
<html>
	<head>
		<title>Login page</title>
		<link href='login_style.css' rel='stylesheet' type='text/css' />
        <a href="signup.hbs"></a>
	</head>
	<body>
		<div id='login'>
			<div id='loginLogo' class='text'>
				<h2>QuickList</h2>
			</div>

			<form id='loginForm' action="/login" method="post">
			    <div id='emailEntry' class='text'>
			    	Email<br>
			        <input type="text" name="email" placeholder='Enter your Email' /><br/>
			    </div>

			    <div id='passwordEntry' class='text'>
			    	Password<br>
			        <input type="password" name="password" placeholder='Enter your Password' />
			    </div>

			    <div id="error">
			    	{{error}}
			    </div>

			    <div id='submitEntry'>
			    	<input type="submit" value="Login"/>
			    </div>
			    
                <div id="signup">
                     New User? <a href="signupPage">Sign Up Here!</a> </br> 
                </div>
			</form>
		</div>
	</body>
</html>
