<!DOCTYPE html>
<html>
    <head>
        <title> Signup Page </title>
        <link href="signup.css" rel="stylesheet" type="text/css"> 
        <a href="login.hbs"></a>
    </head>
    
    <body>
        <!-- <h1> Quicklist </h1> -->
        
        <div id="signupscreen">
            <label for="first name"> First name </label> </br>
            <input type="text" id="Fname" name="First name" class="txt" >
            </br> </br>  
       
            <label for="last name"> Last name </label> </br>
            <input type="text" id="Lname" name ="Last name" class="txt">
            </br> </br>
       
            <label for="email"> Email </label> </br>
            <input type="email"  id="Uemail" class="txt">
            </br> </br>
        
            <label for="password"> Password </label> </br>
            <input type="password" id="Pass" class="txt"> 
            </br> </br>
       
            <label for="re-enter password"> Re-enter password </label> </br>
            <input type="password" id="Pass2" class="txt">
            </br> </br>
       
            <input type="submit" value="Create Account" id="createacc"> </br>
            <p id="haveacc"> Have an account? </p> </br> &nbsp
            <a href="/" id="signup"> Log in instead! </a>
     
        </div>
    
    </body>
    
</html>