#signupscreen{
    height:280px;
    width:200px;
    background-color:#F5F5DC;
    background-color:#bccad6;
    position:fixed;
    padding:95px;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
    border-color:black;
    border-style:solid;
}
 
body{    
    z-index:2;
    background-image:url("shopcart.jpg");
}
 
h1{
    font-family:verdana;
    text-align:center;
    position:fixed;
    top:30px;
    left:0px;
    right:0px;
    margin:auto;
    z-index:5;
}
 
.txt{
   width:300px;
   position:relative;    
   left:-55px;
   height:25px;
}
 
.txt, label, #createacc{
    top:-60px;  
}
 
label{
    vertical-align:middle;
    left:-50px;
    position:relative;
    font-family:verdana;
}
 
#createacc, #signup{
    position:relative;
    left:135px;
    font-family:verdana;
}
 
#createacc{
    border-radius:5px;
    cursor:pointer;
    border: 0.5px solid;
    height:35px;   
}
 
#createacc:hover{
    background-color:white;
    transition:0.3s;
}
 
#signup{
    top:-110px;
    position:relative;
    text-align:right;
}
 
#haveacc{
    position:relative;
    left:-35px;
    top:-55px;
    font-family:verdana;
    text-align:center;
}