body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    margin: auto;
    
}

h3 {
    position: relative;
    margin-top: 65px;
}

/* Start of the Navigation bar*/

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #315EDC;
    box-shadow: 0 2px 7px #888888;
}

.navBarLeft {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
.navBarLeft:hover {
    background-color: #073364;
}

.navBarRight {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}
.navBarRight:hover {
    background-color: #073364;
}

.navBarLink:hover {
    background-color: #2145AB;
}

#home {
    background-color: #073364;
}
/* End of the Navigation bar */

.text{
    text-align: center;
    font-family: verdana;
}

#outerMain {
    border-top: 1px solid #5D6877;
    position: relative;
    margin-top: 0px;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    background-color: #EEEEEE;
    min-height: 100vh;  
}

#innermain {
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;

}

.button {
    background-color: #315EDC;
    border: 0.5px solid #002280;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 5px;
}

.button:hover {
    opacity: 1.0;
    transition: 0.4s;
}

#renameList {
    position: absolute;
    top:2%;
    left:25%;

}

#delList {
    position:absolute;
    top:2%;
    left:62.3%;
    background-color:red;
}

#radioForm {
    display: block;
    position: absolute;
    margin-left: 34%;
    font-size: 22px;
    margin-top: 20px;
}
#sendButton {
    margin-top: 20px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000000;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #315EDC;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#addList {
    position:absolute;
    top:2%;
    left:42%;
}