body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    margin: auto;
    
}
/* Start of the Navigation bar*/

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #315EDC;
    box-shadow: 0 2px 7px #888888;
}

.navBarLeft {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.navBarRight {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

.navBarLink:hover {
    background-color: #2145AB;
}

#home {
    background-color: #073364;
}
/* End of the Navigation bar */

.text{
    text-align: center;
    font-family: verdana;
}

#outerMain {
    border-top: 1px solid #5D6877;
    position: relative;
    margin-top: 0px;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    background-color: #EEEEEE;
    min-height: 100vh;  
}

#innermain {
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;

}

.button {
    background-color: #315EDC;
    border: 0.5px solid #002280;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 5px;
}

.button:hover {
    opacity: 1.0;
    transition: 0.4s;
}

#renameList {
    position: absolute;
    top:2%;
    left:19%;

}

#delList {
    position:absolute;
    top:2%;
    left:88%;
    background-color:red;
}

#addList {
    position:absolute;
    top:2%;
    left:3%;
}
    
