body {
	margin: 0;
	padding: 0;
	z-index:2;
    background-image:url("shopcart4.jpg");
}

.text {
	font-family: verdana;
	color: black;
	text-align: center;
}

#title {
	text-align:center;
	top: 50px;
	right: 0px;
	left: 0px;
	position: fixed;
	margin: auto;
	z-index:5;
}

#login {
	height:320px;
    width:320px;
    background-color:#cfe0e8;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
    border-color:black;
    border-style:solid;
}

#emailEntry {
	position: absolute;
	top: 5%;
	left: 0;
	right: 0;
	color: black;
}

#passwordEntry {
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
	color: black;
}

#submitEntry {
	position: absolute;
	top: 70%;
	left: 0;
	right: 0;
	text-align: center;
}

#loginForm {
	position: relative;
	height: 80%;
	width: 100%;	
}

#signup {
    position: absolute;
	top: 85%;
	left: 0;
	right: 0;
	text-align: center;
}

#error {
	position: relative;
	text-align: center;
	top: 56.5%;
	color: red;
}